h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.nav {
  text-transform: uppercase;
  margin-bottom: 38px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__item {
    padding: 8px 24px;
    list-style: none; }
    .nav__item_active {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px; }
  .nav__link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    letter-spacing: 2px; }
    .nav__link:hover {
      color: #9fadc2; }

.mobile-nav {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0075ff;
  padding: 24px 21px;
  font-weight: bold;
  letter-spacing: 2px; }
  .mobile-nav__logo {
    display: block;
    width: 73px;
    height: 48px;
    margin: 0 auto 36px; }
  .mobile-nav__list {
    font-size: 22px;
    text-transform: uppercase; }
  .mobile-nav__item {
    margin-bottom: 32px; }
  .mobile-nav__contact {
    margin-top: 48px;
    font-size: 12px; }
  .mobile-nav__number {
    margin-bottom: 16px; }
  .mobile-nav__call {
    position: relative; }
  .mobile-nav__link-call {
    text-transform: uppercase;
    position: relative; }
    .mobile-nav__link-call::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #fff; }

.hamburger-mobile {
  position: absolute;
  top: 68px;
  right: 40px; }

@media screen and (max-width: 700px) {
  .nav {
    display: none; } }

.header {
  height: 100vh;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  padding: 24px 20px 38px;
  font-size: 12px; }
  .header__wrapper {
    max-width: 1260px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__nav {
    letter-spacing: 2px;
    margin-bottom: 38px; }
  .header__title {
    margin-bottom: 53px;
    font-size: 60px;
    letter-spacing: -1.5px;
    font-weight: bold;
    position: relative; }
    .header__title::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 35px;
      background-color: #fff;
      border-radius: 2px; }

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px; }
  .top-header__item:nth-child(2), .top-header__item:nth-child(4) {
    display: none; }
  .top-header__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative; }
    .top-header__link::after {
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background: #fff;
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
    .top-header__link:hover::after {
      width: 100%; }

.hamburger-block {
  position: absolute;
  top: 68px;
  right: 40px; }
  .hamburger-block__item {
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px; }
  .hamburger-block__item:not(:last-child) {
    margin-bottom: 4px; }

@media screen and (max-width: 700px) {
  .header__wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header-opened .mobile-nav {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .header__title {
    margin-bottom: 120px; }
  .top-header {
    margin-bottom: 0; }
    .top-header__item:nth-child(2), .top-header__item:nth-child(4) {
      display: inline-block;
      margin: 0 23px; }
    .top-header__item:nth-child(1), .top-header__item:nth-child(5) {
      display: none; } }

.logo-link__image {
  width: 115px;
  height: 76px; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0; }
  .about__info {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px; }
  .about__title {
    font-size: 48px;
    margin: 0; }
  .about__link {
    display: inline-block;
    color: #0075ff;
    position: relative; }
    .about__link::after {
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #0075ff;
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
    .about__link:hover::after {
      width: 100%; }

.info__title {
  color: #0075ff;
  font-size: 24px; }

.info__paragraph {
  line-height: 27px; }

.info__guarantee {
  font-weight: bold;
  line-height: 27px; }

@media screen and (max-width: 700px) {
  .about {
    margin: 64px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about__info {
      -ms-flex-preferred-size: 380px;
          flex-basis: 380px; } }

.gallery {
  margin-bottom: 150px; }
  .gallery__title {
    margin: 0;
    text-align: center;
    font-size: 48px;
    position: relative;
    margin-bottom: 60px; }
    .gallery__title::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 16px;
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      bottom: -14px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .gallery__link {
    display: inline-block;
    color: #0075ff;
    font-weight: bold;
    position: relative; }
    .gallery__link::after {
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background: #0075ff;
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
    .gallery__link:hover::after {
      width: 100%; }
  .gallery__photos {
    display: grid;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-bottom: 24px; }
  .gallery__photos:first-child {
    grid-template-columns: 2fr 1fr; }
  .gallery__photos:nth-child(3) {
    grid-template-columns: 1fr 1fr; }
  .gallery__photos:nth-child(5) {
    grid-template-columns: 1fr 2fr; }
  .gallery__img {
    height: 256px;
    width: 100%;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .gallery__img:hover {
      -webkit-transform: scale(1.01);
              transform: scale(1.01); }
  .gallery__city-name {
    margin: 0 0 40px; }
  .gallery__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 188px;
    height: 56px;
    font-size: 16px;
    border: 2px solid #0075ff;
    border-radius: 8px;
    font-weight: bold;
    color: #0075ff;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: all, 0.3s ease-in-out;
    transition: all, 0.3s ease-in-out; }
    .gallery__btn:hover {
      color: #fff;
      background-color: #0075ff; }

@media screen and (max-width: 700px) {
  .gallery {
    margin-bottom: 64px; }
    .gallery__photos:first-child, .gallery__photos:nth-child(3), .gallery__photos:nth-child(5) {
      grid-template-columns: 1fr 1fr; }
    .gallery__img {
      height: 131px; }
    .gallery__city-name {
      margin: 0 0 32px; }
    .gallery__btn {
      width: 100%; } }

.consultation {
  margin-bottom: 150px; }
  .consultation__title {
    margin: 0 0 92px;
    text-align: center;
    font-size: 48px;
    position: relative;
    margin-bottom: 60px; }
    .consultation__title::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 16px;
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      bottom: -14px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.consultation-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation-inner__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%; }
  .consultation-inner__title {
    color: #0075ff;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 16px; }
  .consultation-inner__text {
    line-height: 27px; }

.consultation-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .consultation-form__name, .consultation-form__phone, .consultation-form__email {
    height: 48px;
    background: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 0 17px;
    margin-bottom: 16px; }
    .consultation-form__name::-webkit-input-placeholder, .consultation-form__phone::-webkit-input-placeholder, .consultation-form__email::-webkit-input-placeholder {
      color: #b9c1ce; }
    .consultation-form__name::-moz-placeholder, .consultation-form__phone::-moz-placeholder, .consultation-form__email::-moz-placeholder {
      color: #b9c1ce; }
    .consultation-form__name:-ms-input-placeholder, .consultation-form__phone:-ms-input-placeholder, .consultation-form__email:-ms-input-placeholder {
      color: #b9c1ce; }
    .consultation-form__name::-ms-input-placeholder, .consultation-form__phone::-ms-input-placeholder, .consultation-form__email::-ms-input-placeholder {
      color: #b9c1ce; }
    .consultation-form__name::placeholder, .consultation-form__phone::placeholder, .consultation-form__email::placeholder {
      color: #b9c1ce; }
  .consultation-form__btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 56px;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    background: #0075ff;
    margin-top: 32px;
    cursor: pointer;
    -webkit-transition: all, 0.3s ease-in;
    transition: all, 0.3s ease-in; }
    .consultation-form__btn:hover {
      color: #0075ff;
      background: #fff;
      border: 2px solid #0075ff;
      -webkit-box-shadow: none;
              box-shadow: none; }

@media screen and (max-width: 700px) {
  .consultation {
    margin-bottom: 64px; }
  .consultation-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.testimonails {
  margin-bottom: 150px; }
  .testimonails__title {
    margin: 0 0 90px;
    text-align: center;
    font-size: 48px;
    position: relative; }
    .testimonails__title::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 16px;
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      bottom: -14px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.testimonails-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .testimonails-block__card {
    max-width: 240px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    position: relative; }
    .testimonails-block__card::after {
      top: 0;
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      right: 0;
      bottom: -500px;
      width: 0;
      height: 0;
      background-color: rgba(182, 215, 255, 0.2);
      border-radius: 30px;
      z-index: -1;
      -webkit-transition: width 0.4s, height 0.4s;
      transition: width 0.4s, height 0.4s; }
    .testimonails-block__card:hover::after {
      width: 110%;
      height: 110%; }
  .testimonails-block__photo {
    width: 150px;
    border-radius: 75px;
    margin-bottom: 28px; }
  .testimonails-block__name {
    font-size: 24px;
    color: #0075ff;
    margin: 0 0 8px; }
  .testimonails-block__title {
    font-size: 14px;
    margin: 0 0 8px;
    color: #9fadc2; }
  .testimonails-block__about {
    line-height: 27px;
    margin: 0; }

@media screen and (max-width: 700px) {
  .testimonails {
    margin-bottom: 64px; }
    .testimonails__title {
      margin: 0 0 50px; }
  .testimonails-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.contact {
  margin-bottom: 88px; }
  .contact__title {
    margin: 0 0 90px;
    text-align: center;
    font-size: 48px;
    position: relative; }
    .contact__title::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 16px;
      background-image: url("../images/crown.svg");
      background-repeat: no-repeat;
      bottom: -14px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%; }
  .contact-info__phone, .contact-info__email, .contact-info__adress {
    margin: 0 0 10px;
    color: #9fadc2;
    font-weight: normal;
    font-size: 14px; }
  .contact-info__number, .contact-info__email-address, .contact-info__location {
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 27px; }

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%; }
  .contact-form__name, .contact-form__email {
    height: 48px;
    background: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 0 17px;
    margin-bottom: 16px; }
    .contact-form__name::-webkit-input-placeholder, .contact-form__email::-webkit-input-placeholder {
      color: #b9c1ce; }
    .contact-form__name::-moz-placeholder, .contact-form__email::-moz-placeholder {
      color: #b9c1ce; }
    .contact-form__name:-ms-input-placeholder, .contact-form__email:-ms-input-placeholder {
      color: #b9c1ce; }
    .contact-form__name::-ms-input-placeholder, .contact-form__email::-ms-input-placeholder {
      color: #b9c1ce; }
    .contact-form__name::placeholder, .contact-form__email::placeholder {
      color: #b9c1ce; }
  .contact-form__message {
    height: 144px;
    background: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 17px;
    resize: none;
    font-family: Roboto, sans-serif; }
    .contact-form__message::-webkit-input-placeholder {
      color: #b9c1ce; }
    .contact-form__message::-moz-placeholder {
      color: #b9c1ce; }
    .contact-form__message:-ms-input-placeholder {
      color: #b9c1ce; }
    .contact-form__message::-ms-input-placeholder {
      color: #b9c1ce; }
    .contact-form__message::placeholder {
      color: #b9c1ce; }
  .contact-form__btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 56px;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    background: #0075ff;
    margin-top: 32px;
    cursor: pointer; }
    .contact-form__btn:hover {
      color: #0075ff;
      background: #fff;
      border: 2px solid #0075ff;
      -webkit-box-shadow: none;
              box-shadow: none; }

@media (max-width: 850px) and (min-width: 700px) {
  .contact-info__item {
    margin-right: 10px; } }

@media screen and (max-width: 700px) {
  .contact {
    margin-bottom: 64px; }
    .contact__title {
      margin: 0 0 50px; }
  .contact-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.footer {
  height: 359px;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }

.footer__logo {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #fff;
  margin: 0;
  color: #fff;
  font-family: Roboto, sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding: 0; }

.main-wrapper {
  max-width: 1260px;
  margin: 0 auto;
  color: #000; }

@media (max-width: 1300px) {
  .main-wrapper {
    padding: 0 20px; } }

/*# sourceMappingURL=main.css.map */
